@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";



*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background-color: rgb(198, 198, 243);
    padding: 0;
    margin: 0;
}

h2 {
    margin: 50px;
}

.row {
   margin: 15px;
   padding: 5px;

}
.progress-bar {
    position: relative;
    width: 300px;
    height: 3em;
    background-color: black;
    border-radius: 1.5em;
    color: white;
}
.progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    
    position: absolute;
    left: 1em;
    top: .5em;
    bottom: 5em;
    right: 1em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: chartreuse;
    border-radius: 1em;
    padding: 1em;


}

.quad#eat {
    background-color: darkcyan;

}

.quad#fight {
    background-color: darkred;
}

.quad#play {
    background-color: yellow;
}
.quad#sleep {
    background-color: gray;
}